.left-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 74px;
  top: 9px;
  bottom: 5.5rem;
  flex-shrink: 0;
  max-width: 74px;
}

.upper-section {
  left: 0;
  right: 0;
  position: absolute;
  padding: 15px;
  flex-direction: column;
  display: flex;
  flex: 1;
  row-gap: 16px;
  background-color: rgba(28, 28, 28, 0.6);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.upper-section div img {
  width: 28px;
  height: 28px;
}

.lower-section {
  top: 7.5rem;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(28, 28, 28, 0.6);
}

.lower-section .utility-buttons img {
  width: 28px;
  height: 28px;
}
.utility-buttons {
  flex-shrink: 0;
  margin-top: 17px;
  display: flex;
  align-items: center;
  row-gap: 24px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.playlist {
  position: relative;
  margin-top: 8px;
  display: grid;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.playlist-photo-container {
  width: 74px;
  height: 70px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-photo-container:hover {
  background-color: rgba(66, 66, 66, 0.384);
}
.playlist-photo-container img {
  width: 56px;
  height: 56px;
  border-radius: 7px;
  display: inline-block;
}

.playlist-info-container {
  flex-direction: column;
  border: 1px solid rebeccapurple;
  display: flex;
  position: absolute;
  height: 36px;
  width: 56px;
  background-color: rgba(28, 28, 28, 0.6);

  right: -86px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
}

.playlist-info-container:hover {
  opacity: 1;
}
