@font-face {
  font-family: Circular Book;
  src: url(Circular\ Font/CircularStd-Book.otf);
}

.middle-bar {
  font-family: Circular Book;
  background-color: rgb(28, 28, 28);
  display: flex;
  position: fixed;
  top: 10px;
  height: 89%;
  left: 95px;
  right: 439px;
  border-radius: 10px;
}
/*23*/
.content-container {
  overflow-x: hidden;
  justify-content: start;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
}

.content-container .top-utility {
}

.top-utility {
  height: 47px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

.left .lt img {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  justify-content: center;
  padding: none;
  display: flex;
  align-items: center;
  width: 15px;
  height: 25px;
  border-radius: 360px;
  background-color: rgba(0, 0, 0, 0.952);
}

.left .gt img {
  transform: rotate(180deg);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  justify-content: center;
  padding: none;
  display: flex;
  align-items: center;
  width: 15px;
  height: 25px;
  border-radius: 360px;
  background-color: rgba(0, 0, 0, 0.589);
}

.left .gt:hover,
.lt:hover {
  cursor: pointer;
  opacity: 0.6;
}

.right {
  justify-content: end;
  align-items: center;
  display: flex;
}

.right img {
  width: 25px;
  height: 25px;
}

.explore {
  background-color: white;
  color: black;
  font-weight: bolder;
  font-family: Circular Book;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  border: none;
  transition: border 0.3s ease-out;
}

.install {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  border: none;
  font-weight: bolder;
  padding: 6px 20px 6px 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-family: Circular Book;
  transition: all 0.3s ease-out;
}
.install img {
  margin-right: 5px;
}

.top-utility .profile {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border: 5px solid rgba(0, 0, 0, 0.534);
  border-radius: 360px;
}

.explore:hover,
.install:hover {
  transition: all 0.3s;
  border: 3px solid rgb(93, 161, 15);
}

.content-type {
  display: flex;
}

.content-type-container {
  margin-top: 10px;
  display: flex;
}

.content-type-container button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  border: none;
  font-weight: bolder;
  padding: 7px 13px 7px 13px;
  border-radius: 20px;
  margin-left: 10px;
  font-family: Circular Book;
  font-size: 15px;
  font-weight: normal;
}

.content-type-container .all {
  background-color: white;
  color: black;
}

.content-type-container .music {
  background-color: #b3b3b323;
  color: white;
}

.content-type-container .podcasts {
  background-color: #b3b3b323;
  color: white;
}

.all:hover {
  opacity: 0.6;
}
.music:hover {
  opacity: 0.6;
}
.podcasts:hover {
  opacity: 0.6;
}

.recently-played-pl {
  justify-content: space-around;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.recently-played-pl .top div {
  width: 345px;
  margin: 0 5px 0 0px;
  height: 63px;
  background-color: #292929;
  border-radius: 7px;
  margin-left: 5px;
}

.recently-played-pl .top {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.recently-played-pl .bottom div {
  width: 345px;
  margin: 0 5px 0 0px;
  height: 63px;
  background-color: #292929;
  border-radius: 7px;
  margin-left: 5px;
}

.recently-played-pl .bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.pl {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 163px;
  justify-content: space;
  align-items: top;
}

.pl img {
  margin: 0;
  padding: none;
  display: flex;
  height: 63px;
  width: 63px;
  border-radius: 5px 0 0 5px;
}

.bottom div:hover {
  background-color: #454545;
}

.top div:hover {
  background-color: #454545;
}

.jump-in-back-text {
  margin-top: 1.5rem;
  font-weight: bolder;
  font-size: 23px;
  margin-bottom: 0.2rem;
  padding-left: 15px;
}

.jump-in-back {
  padding-left: 15px;
  gap: 0.6rem;
  display: flex;
  flex-direction: row;
}

.jump-in-back .pl2 {
  border-radius: 10px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  width: 173px;
  min-height: 150px;
}

.jump-in-back p {
  margin-top: 0;
  margin-bottom: 0px;
}

.jump-in-back .pl2 .top {
}

.jump-in-back .pl2 .bottom {
  font-size: 14.5px;
  color: #8d8d8d;
}
.jump-in-back .pl2 .circle {
  border-radius: 360px;
  object-fit: cover;
  object-position: top;
  height: 173px;
  width: 173px;
}

.jump-in-back .pl2 .img {
  border: 1px solid rebeccapurple;
  border-radius: 360px;
}

.jump-in-back .pl2:hover {
  background-color: #252525;
}

.pl2 {
  gap: 0.5rem;
  display: flex;
}

.nothing {
  height: 173px;
  width: 173px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

.business-stuff {
  margin-top: 5.5rem;
  display: flex;
  height: 210px;
  padding-bottom: 2.5rem;
  width: inherit;
  padding-left: 15px;
  border-bottom: 1px solid #8d8d8d;
}

.box p {
  width: 150px;
  margin-top: 3px;
  margin-right: 5rem;
  margin-bottom: 9px;
}

.q {
  font-size: 17px;
}

.qq {
  color: #8d8d8d;
}

.q:hover,
.qq:hover {
  text-decoration: underline;
  color: white;
}

.sbox2 {
  display: flex;
  gap: 1rem;
  margin-left: 15rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 13px 10px 13px;
  border-radius: 360px;
  background-color: rgb(44, 44, 44);
  border: none;
}

.social-media:hover {
  background-color: rgba(255, 255, 255, 0.192);
}

.business-stuff .sbox img {
  width: 20px;
}

.legal {
  padding-left: 10px;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
  font-size: 14px;
}

.qqq {
  margin-left: 39rem;
  color: #8d8d8d;
}
